@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

* {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

/* Layout (containers, etc.) */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: brown;
}

.body-container {
    display: flex;
}

.new-vehicle-container,
.old-vehicle-container {
    width: 25vw;
    height: 90vh;
}

.new-vehicle-body-container,
.old-vehicle-body-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.estimate-container {
    width: 50vw;
    height: 90vh;
}

.estimate-body-container {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.estimate-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.svg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.euro-svg {
    margin-right: 40px;
}

.chart-container {
    margin: 0 auto;
    width: 30vw;
    height: 40vh;
}

.chart-responsive-container {
    margin: auto;
}

/* General CSS for font, font-size, font alignment, etc. */

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 24px;
}


/* Input specific CSS */

input,
select {
    padding: 6px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
}

input[type=number] {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label {
    padding: 18px 12px 12px 0;
    display: inline-block;
    font-weight: 600;
}

#checkbox-label {
    padding: 0 12px 12px 0;
    font-weight: 400;
}

.unit {
    padding: 8px;
}

.inputnumber-block {
    display: inline-block;
}